@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    width: 100%;
}

.campo {
    margin-top: 4rem;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
        flex: 0 0 10rem;
    }
    input {
        flex: 1;
        border: none;
        border-radius: .5rem;
        padding: 1rem;
    }
}