@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {

    padding: v.$separacion 0;   
    
    @include m.telefono {
        display: flex;
        justify-content: space-between;
        width: auto;
    }    
    
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }    
}