@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    
    .titulo {
        padding-top: 4.5rem;
        text-align: center;
        font-size: 5rem;
        font-weight: bold;        
        @include m.tablet {
            padding-top: 68rem;            
        }
    }

    .imagen {
        height: 25rem;
        background-image: url('../img/1.jpg');
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;   
            background-image: url('../img/2.jpg');                   
        }
    }

    .app {
        width: 95%;
        padding: 1rem 0;
        margin: 0 auto;
        @include m.tablet {
            overflow: scroll;
        }
    }
}

.barra {

    margin: v.$separacion 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.nombre-pagina {
    margin: 2rem 0;
    font-weight: v.$bold;
}

.descripcion-pagina {
    text-align: center;
}

.barra-servicios {
    
        @include m.tablet {
            display: flex;
        }
    
        a {
            background-color: v.$azul;
            border: none;
            width: 100%;
            display: block;
            color: v.$blanco;
            font-weight: v.$bold;
            padding: 1rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            transition: background-color 300ms ease;
            text-align: center;
            border: .5rem solid v.$negro;
    
            &:hover {
                cursor: pointer;
                background-color: darken(v.$azul, 10%);
            }                
        }
}

.datos {

    margin-top: 1rem;
    text-align: center;

    @include m.tablet {
            text-align: left;
        }

    h4 {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    p {
        color: v.$azul;
        font-size: 1.5rem;
        // margin-top: -2rem;
        padding: 0 1rem;
    }
}
